<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        main {
            background-color: #edf0f0;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-light bg-success">
                <div class="
              col-12 col-md-8 col-sm-12 col-xs-12
              p-1
              ps-3
              d-md-block d-lg-block d-xl-block d-sm-none d-none
            ">
                    <span class="navbar-text text-white"> {{documentation.application_name}} </span>
                </div>
                <div class="
              col-12 col-md-8 col-sm-12 col-xs-12
              p-1
              ps-3
              d-block d-sm-block d-md-none d-lg-none d-xl-none
              text-center
            ">
                    <span class="navbar-text text-white"> {{documentation.application_name}} </span>
                </div>
                <div class="col-12 col-md-4 col-sm-12 col-xs-12 p-1 ps-3 pe-3">
                    <select v-model="selectedVersion" class="form-select">
                        <option v-for="(item,index) in documentation.versions" :value="item.version">
                            {{item.version}} {{item.deprecated ? ("Deprecated") : ""}}
                        </option>
                    </select>
                </div>
            </nav>
        </header>

        <main class="min-vh-100">
            <div class="
            col-12 col-md-10 col-sm-12 col-xs-12
            offset-md-1
            pt-5
            ps-3
            pe-3
          ">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="documentation">
                            <div class="accordion-item" v-for="(item) in documentation.controllers">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" :data-bs-target='"#flush-" + item.name' v-on:click="collapseAccordion">
                                        <span class="fw-bold">{{item.name}}</span> <span class="fw-light ms-2">{{item.description}}</span>

                                    </button>
                                </h2>
                                <div :id='"flush-"+item.name' class="accordion-collapse collapse" data-bs-parent="#documentation">
                                    <div class="card m-3">
                                        <div class="card" v-if="item.endpoints.length >0">
                                            <div class="card-body">
                                                <div class="accordion accordion-flush" :id='"endpoint-"+item.name'>
                                                    <div class="accordion-item" v-for="(endpoint,index) in item.endpoints" v-if="isSelectedVersion(endpoint)">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button" :data-bs-target='"#endpoint-" + item.name+index' v-on:click="collapseAccordion">
                                                                <span :class="getVerbClass(endpoint)">{{endpoint.verb}}</span>  <span class="fw-bold">{{endpoint.name}}</span> <span class="fw-light ms-2">{{endpoint.description}}</span>
                                                            </button>
                                                        </h2>
                                                        <div :id='"endpoint-"+item.name+index' class="accordion-collapse collapse" :data-bs-parent='"endpoint-"+item.name'>
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                        <li class="nav-item" role="presentation">
                                                                            <button class="nav-link active" :id="'endpoint-'+item.name+index+'parametertab'" data-bs-toggle="tab" :data-bs-target='"#endpoint-" + item.name+index+"parameters"' type="button" role="tab" aria-selected="true">
                                                                                Parameters
                                                                            </button>
                                                                        </li>
                                                                        <li class="nav-item" role="presentation">
                                                                            <button class="nav-link" :id="'endpoint'+item.name+index+'responsetab'" data-bs-toggle="tab" :data-bs-target='"#endpoint-" + item.name+index+"responsetype"' type="button" role="tab" aria-selected="true">
                                                                                Response Types
                                                                            </button>
                                                                        </li>
                                                                        <li class="nav-item" role="presentation">
                                                                            <button class="nav-link" :id="'endpoint'+item.name+index+'responsetab'" data-bs-toggle="tab" :data-bs-target='"#endpoint-" + item.name+index+"version"' type="button" role="tab" aria-selected="true">
                                                                                Versions
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content" id="myTabContent">
                                                                        <div class="tab-pane show active" :id='"endpoint-" + item.name+index+"parameters"' role="tabpanel">
                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Parameter Name</th>
                                                                                            <th scope="col">Value</th>
                                                                                            <th scope="col">Description</th>
                                                                                            <th></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="parameter in endpoint.parameters">
                                                                                            <th scope="row">{{parameter.name}}</th>
                                                                                            <td>{{parameter.description}}</td>
                                                                                            <td>{{parameter.prefix_type}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" :id='"endpoint-" + item.name+index+"responsetype"' role="tabpanel">
                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Status Code</th>
                                                                                            <th scope="col">Description</th>
                                                                                            <th scope="col">Type</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="response_type in endpoint.response_types">
                                                                                            <td>
                                                                                                {{response_type.status_code}}
                                                                                            </td>
                                                                                            <td>{{response_type.description}}</td>
                                                                                            <td>{{response_type.type}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" :id='"endpoint-" + item.name+index+"version"' role="tabpanel">
                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Version</th>
                                                                                            <th scope="col">Deprecated</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="version in endpoint.versions">
                                                                                            <td>{{version.version}}</td>
                                                                                            <td>{{version.deprecated}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-5" v-if="documentation.schema != null && documentation.schema.length >0">
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="schema">
                            <div class="accordion-item" v-for="(item,index) in documentation.schema">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" :data-bs-target='"#flush-"+index' v-on:click="collapseAccordion">
                                        <span class="fw-bold">{{item.name}}</span> <span class="fw-light ms-2">{{item.description}}</span>
                                    </button>
                                </h2>
                                <div :id='"flush-"+index' class="accordion-collapse collapse" data-bs-parent="schema">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="schema_property in item.schema_properties">
                                                            <td>{{schema_property.name}}</td>
                                                            <td>{{schema_property.description}}</td>
                                                            <td>{{schema_property.type}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>

    <script>
            window.onload = function() {
                var app = new Vue({
                    el: "#app",
                    data: {
                        url: '/open-api/',
                        selectedVersion: '',
                        documentation: {}
                    },
                    methods: {
                        fetchDocumentation() {
                            var url = 'open-api';
                            fetch(url)
                                .then(response => response.json())
                                .then(data => {
                                    this.documentation = data;
                                    if (this.documentation.versions.length > 0) {
                                        this.selectedVersion = this.documentation.versions[0].version
                                    }
                                }).catch((err) => {
                                    alert(err)
                                });
                        },
                        collapseAccordion(e) {
                            var target = e.target;
                            var targetId = target.attributes['data-bs-target'].value.substr(1);
                            var collapse = document.getElementById(targetId);
                            if (collapse.classList.contains('show')) {
                                $(collapse).collapse('hide')
                            } else {
                                $(collapse).collapse('show')
                            }
                        },
                        getVerbClass(endpoint) {
                            switch (endpoint.verb) {
                                case 'GET':
                                    return "badge bg-primary me-2";
                                case "POST":
                                    return "badge bg-success me-2";
                                case "PUT":
                                case "PATCH":
                                    return "badge bg-warning me-2";
                                case "DELETE":
                                    return "badge bg-danger me-2";
                            }
                            return "badge bg-secondary me-2";
                        },
                        getSchema(parameter) {
                            var schemas = this.documentation.schema.filter((f) => f.name == parameter.type);
                            return schemas.length > 0 ? schemas[0] : null;
                        },
                        isSelectedVersion(endpoint) {
                            if (endpoint.versions.length == 0)
                                return true;
                            var result = false;
                            endpoint.versions.map((f) => {
                                if (!result)
                                    result = this.documentation.versions.filter((y) => y.version == f.version).length > 0;
                            })
                            return result;
                        }
                    },
                    created() {
                        this.fetchDocumentation();
                    },
                });
            };
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</body>

</html>